# Week2 Basic EDA Assignment

## Solving it using Pandas Library.

In [1]:
import pandas as pd
health_data = pd.read_csv("HealthData.csv")
health_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
#(Q) Calculate the average age and BMI of the individuals in the dataset.

average_age = health_data["age"].mean()
average_bmi = health_data["bmi"].mean()

print(f"Average age:{average_age:.2f}")
print(f"Average BMI:{average_bmi:.2f}")

Average age:39.21
Average BMI:30.66

In [22]:
#(Q)Determine how many smokers and non-smokers are in the dataset, and what percentage of the total each group represents
smoker_count = health_data["smoker"].value_counts().to_frame(name="Count")
print(f"Total -  {len(health_data)}\n ")
smoker_count["percentage"] = round(smoker_count["Count"]/len(health_data) * 100,2)
print(smoker_count)

Total -  1338

        Count  percentage
smoker
no       1064       79.52
yes       274       20.48

In [36]:
#(Q)Find the minimum, maximum, and median insurance charges in the dataset.
# Easy method
min = health_data["charges"].min()
max = health_data["charges"].max()
median = health_data["charges"].median()
print(f"Minimum - {min}\nMaximum - {max}\nMedian - {median}")

Minimum - 1121.8739
Maximum - 63770.42801
Median - 9382.033

In [38]:
#(Q)Find the minimum, maximum, and median insurance charges in the dataset.
# Better approach
metrics = health_data["charges"].agg(['min', 'max', 'median'])
print(metrics)

min        1121.87390
max       63770.42801
median     9382.03300
Name: charges, dtype: float64

In [51]:
#(Q) Create a new column called 'age_group' that categorizes individuals into 'Young' (18-35), 'Middle-aged' (36-55), and 'Senior' (56+), then calculate the average charges for each age group.

health_data["age_group"] = pd.cut(health_data["age"], bins = [0,18,35,56, float('inf')], labels=['Under 18', 'Young', 'Middle-aged', 'Senior'])

group_charges = health_data.groupby("age_groups", observed=True)["charges"].mean()
print(f"Average Charges by Age Group: {group_charges}")

Average Charges by Age Group: age_groups
Under 18        7086.217556
Young          10107.686182
Middle-aged    14796.556106
Senior         19311.953960
Name: charges, dtype: float64

pd.cut() - Converts continuous numerical data into categorical bins
groupby - observed
False: Include all possible categories, even if empty
True: Only include categories actually present in the data

In [ ]:
# health_data["age_group"] = ["Young" if 18<=age<=35 
#                             else "Middle-ages" if 36<=age<=55 
#                             else "Senior" if age>=56 
#                             else "Under 18" 
#                             for age in health_data["age"]]

In [61]:
health_data.head()

   age     sex     bmi  children smoker     region      charges age_group
0   19  female  27.900         0    yes  southwest  16884.92400     Young
1   18    male  33.770         1     no  southeast   1725.55230  Under 18
2   28    male  33.000         3     no  southeast   4449.46200     Young
3   33    male  22.705         0     no  northwest  21984.47061     Young
4   32    male  28.880         0     no  northwest   3866.85520     Young